<form method="post" action="{{ path('app_allergies_delete', {'id': allergy.id}) }}" onsubmit="return confirm('Es-tu sûr(e) de vouloir supprimer cet ingrédient ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ allergy.id) }}">
    <button class="btn btnSupprimer">Supprimer</button>
</form>
