{% extends 'base.html.twig' %}

{% block title %}Modification Ingrédient - Amiam
{% endblock %}

{% block body %}

	<section class="allergieNew">
		<h1>Modification Ingrédient</h1>
		<div class="groupeBoutons">
			<div>
				<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
			</div>
			<div>
				{{ include('allergies/_delete_form.html.twig') }}
			</div>
		</div>
		<div>
			<p>
				{{ include('allergies/_form.html.twig', {'button_label': 'Modifier'}) }}
			</p>
		</div>

	</section>


{% endblock %}
