{% extends 'base.html.twig' %}

{% block title %}Nouvel Ingrédient à éviter - Flavor Link
{% endblock %}

{% block body %}
	<section class="allergieNew">
		<h1>Ingrédient à éviter</h1>
		<div class="allergieNewForm">
			<div>
				<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
			</div>
			<div>
				<p>Ajoute les ingrédients un par un.</p>
				<p>{{ include('allergies/_form.html.twig') }}
				</p>
			</div>
		</div>
	</section>
{% endblock %}
