{% extends 'base.html.twig' %}

{% block title %}Réinitialisation Mot de passe - Flavor Link
{% endblock %}

{% block body %}
	<section class="reinitPwd">
		<h1>Réinitialisation du Mot de passe</h1>
		{{form_start(requestPassForm)}}
        <div class="inscriptionFormInput">
			{{ form_row(requestPassForm.email) }}
		</div>
		<button type="submit" class="btn btnValider">Envoyer</button>
		{{form_end(requestPassForm)}}
	</section>
{% endblock %}
