<form method="post" action="{{ path('app_repas_delete', {'id': repa.id}) }}" onsubmit="return confirm('Es-tu sûr(e) de vouloir supprimer ce repas ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ repa.id) }}">
    <button class="btn btnSupprimer">Supprimer</button>
</form>
