{% extends 'base.html.twig' %}

{% block title %}Modification repas - Flavor Link
{% endblock %}

{% block body %}
	<section class="repasModifier">
		<h1>
			Modifications repas</h1>
		<div class="groupeBoutons">
			<div>
				<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
			</div>
			<div>
				{{ include('repas/_delete_form.html.twig') }}
			</div>
		</div>

		{{ include('repas/_form.html.twig', {'button_label': 'Modifier'} ) }}
	</section>
{% endblock %}
