{% extends 'base.html.twig' %}

{% block title %}Edit Detestes{% endblock %}

{% block body %}
    <h1>Edit Detestes</h1>

    {{ include('detestes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_detestes_index') }}">back to list</a>

    {{ include('detestes/_delete_form.html.twig') }}
{% endblock %}
