{% extends 'base.html.twig' %}

{% block title %}New Detestes{% endblock %}

{% block body %}
    <h1>Create new Detestes</h1>

    {{ include('detestes/_form.html.twig') }}

    <a href="{{ path('app_detestes_index') }}">back to list</a>
{% endblock %}
