<form method="post" action="{{ path('app_recette_ingredients_delete', {'id': recette_ingredient.id}) }}" onsubmit="return confirm('Es-tu sûr(e) de vouloir supprimer cet ingrédient de ta recette ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette_ingredient.id) }}">
    <button class="btn btnSupprimer">Supprimer</button>
</form>
