{% extends 'base.html.twig' %}

{% block title %}Edit RecetteIngredients{% endblock %}

{% block body %}
    <h1>Edit RecetteIngredients</h1>

    {{ include('recette_ingredients/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recette_ingredients_index') }}">back to list</a>

    {{ include('recette_ingredients/_delete_form.html.twig') }}
{% endblock %}
