{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette - Amiam {% endblock %}

{% block body %}

<section class="ingredientRecettesNew">

    <h1>Ajout d'un ingrédient</h1>

    {{ include('recette_ingredients/_form.html.twig') }}


</section>

{% endblock %}
