{% extends 'base.html.twig' %}

{% block title %}Nouvelle recette - Amiam
{% endblock %}

{% block body %}
<section class="recetteNew">
	<h1>Nouvelle recette</h1>

	<div>
		<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
	</div>


	{{ include('recettes/_form.html.twig') }}

</section>
{% endblock %}
