{%extends "@EasyAdmin/page/content.html.twig"%}

{% block content %}
	<section>
		<h1>Bienvenue sur l'espace d'administration</h1>
		<div>
			<a href="{{path('app_home')}}" class="navbar-brand" id="logo">Retour sur le site Amiam</a>
		</div>
	</section>
{% endblock %}
