<form method="post" action="{{ path('app_amis_delete', {'id': ami.id}) }}" onsubmit="return confirm('Est-tu sûr(e) de vouloir supprimer la fiche de ton ami(e)?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ami.id) }}">
    <button class="btn btnSupprimer">Supprimer</button>
</form>
