{% extends 'base.html.twig' %}

{% block title %}Amis - Flavor Link
{% endblock %}

{% block body %}
	<section class="amisIndex">
		<h1>Mes Amis</h1>
		<a class="btn btnCreer" href="{{ path('app_amis_new') }}">Créer</a>

		<div class="cards">
			{% for ami in app.user.amis | sort((a, b)=> a.nom <=> b.nom)  %}

				<div class="card shadow-1 hoverable-1 rounded-3 ">
					<a href="{{ path('app_amis_show', {'id': ami.id}) }}">
						<div class="card-header">
							<i class="fa-solid fa-user"></i>
						</div>
						<div class="card-header">
							{{ ami.nom }}
						</div>
					</a>
					
				</div>

			{% else %}
				<div>
					Aucun ami enregistré !
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
