{% extends 'base.html.twig' %}

{% block title %}Amis index
{% endblock %}

{% block body %}
	<h1>Mes Amis</h1>
	<a href="{{ path('app_amis_new') }}">Créer</a>


	{% for ami in app.user.amis %}
	
		<div class="card shadow-1 hoverable-1 rounded-3 white">
			<div class="card-header">
				<i class="fa-solid fa-user"></i> {{ ami.nom }}
			</div>
			<div class="card-content">
				
				<div>
					<a href="{{ path('app_amis_show', {'id': ami.id}) }}">Voir</a>
					<a href="{{ path('app_amis_edit', {'id': ami.id}) }}">Modifier</a>
				</div>
			</div>
		</div>

	{% else %}
		<div>
			Aucun ami enregistré !
		</div>
	{% endfor %}


{% endblock %}
