{% extends 'base.html.twig' %}

{% block title %}Nouvel ami - Amiam
{% endblock %}

{% block body %}
	<section class="amisCreer">
		<h1>Nouvelle fiche ami</h1>
		<div>
			<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
		</div>

		{{ include('amis/_form.html.twig') }}
	</section>
{% endblock %}
