@font-face {
    font-family: "AlegreyaThin";
    src: url(../font/alegreyaSans/AlegreyaSans-Thin.ttf);
}

@font-face {
    font-family: "Alegreya";
    src: url(../font/alegreyaSans/AlegreyaSans-Regular.ttf);
}

@font-face {
    font-family: "AlegreyaBold";
    src: url(../font/alegreyaSans/AlegreyaSans-Bold.ttf);
}

@font-face {
    font-family: "AlegreyaBlack";
    src: url(../font/alegreyaSans/AlegreyaSans-Black.ttf);
}



:root {
    --color-one: #192f01;
    /* --color-oneLight: #2D5401; */
    /* --color-two: #304717; */

    --color-two: #E0475B;
    --color-three: #f5fced;
    --color-threeDark: #f1fbe6;
    --color-four: #DED052;
    /* --color-five: #f8efea; */
}

* {
    font-family: "Alegreya", Arial, Helvetica, sans-serif;
}

main {

    background-color: var(--color-threeDark);
}

h1 {
    font-family: "AlegreyaBold", Arial, Helvetica, sans-serif;

}

.primary {
    background-color: var(--color-one);
    color: var(--color-three);
}

/* boutons */

.btnValider,
.btnCreer,
.btnModifier,
.btnVoir,
.btnSupprimer,
.btnRetour {
    border-radius: 50px;
    font-size: 1rem;
    padding: .5rem;
    width: 5rem;
    height: 2rem;

}

.btnValider {
    background-color: var(--color-two);

}

.btnCreer {
    background-color: var(--color-two);

}

.btnModifier {
    background-color: var(--color-one);
    color: var(--color-three);
   
}

.btnSupprimer {
    background-color: var(--color-four);
    /* color: var(--color-four); */
   
}

/* .btnVoir {
    background-color: var(--color-one);
    color: var(--color-two);
    
} */

.btnRetour {
    background-color: var(--color-threeDark);
       border: 1px solid gray;
}

/* base */

/*base / header*/

#logo {
    font-family: "AlegreyaBlack", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 2rem;
    color: var(--color-four);
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-link {
    font-family: "Alegreya", Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 1.1rem;
    /* line-height: 1rem; */
}



/* base / footer */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerAdmin {
    color: #2c5003;
}

/*security login*/

.login form {
    margin: 1rem;
}

.login form input {
    border-radius: 4px;
}

.login form .btnValider {
    margin-bottom: 0;
}

.login form p {
    margin-top: 0;
    margin-left: 1rem;
}

.login form p a {
    text-decoration: underline;
}

/*registration register*/
.inscription h1 {
    margin-left: 1rem;
}

.inscription form {
    margin: 1rem;
}

.inscription .inscriptionFormInput div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.inscription form input {
    border-radius: 4px;
    border: 1px solid gray;
    background-color: var(--color-threeDark);
}

.inscription .personnes input {
    width: 5rem;
}

.inscription .personnes {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.inscription .accepteCGU div {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
    justify-content: flex-end;
}

.inscription .accepteCGU div label {
    padding-left: .5rem;
}

/*home index*/

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 70vh;
}

.accueil .btn {
    width: 15rem;
    padding: 1rem;
    font-family: "AlegreyaBold", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    border-radius: 50px;
    background-color: var(--color-two);
    /* color: var(--color-four); */

}

/* amis */

/* amis index */
.amisIndex .btnCreer {
    font-size: .9rem;
    margin: .5rem;
}

.amisIndex .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.amisIndex .card {
    margin: 1rem .5rem;
    background-color: var(--color-three);
    width: 31%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* .amisIndex .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */

.amisIndex .card-content div {
    padding: 0 1rem;
}

/* amis voir */

.amisShow {
    margin: 1rem;
}

.amisShow .groupeBoutons,
.amisModifier .groupeBoutons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.groupeBoutons .btnRetour {
    margin-left: 0;
}

.amisShow .btnModifier {
    padding: calc(.6rem + 2px) 1.25rem;
}

.amisShow .btnCreer {
    font-size: .9rem;
    padding: .3rem .5rem;
}

.amisShow .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.cardAllergie {
    width: fit-content;
}

.cardAllergie .btn {
    font-size: .9rem;
}

.amisShow .cards .btn {
    padding: .2rem .7rem;
}

.amisShow .cardRepas {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.amisShow .cardRepas .cardRepasTitre {
    font-family: "AlegreyaBold", Arial, Helvetica, sans-serif;
}

/* amis modifier */
.amisModifier {
    margin: 1rem;
}
.amisModifier .form-control{
    max-width: fit-content;
    min-width: fit-content;
}
