{% extends 'base.html.twig' %}

{% block title %}New Deplaire{% endblock %}

{% block body %}
    <h1>Create new Deplaire</h1>

    {{ include('deplaire/_form.html.twig') }}

    <a href="{{ path('app_deplaire_index') }}">back to list</a>
{% endblock %}
