<p>
Bonjour {{user.pseudo}}, </p>

<p>Pour ta demande de réinitialisation de ton mot de passe, merci de bien vouloir cliquer sur le lien ci-dessous :</p>
<p><a href="{{ url|raw }}" class="btn btnValider">Modification du mot de passe </a></p>
<p>Attention ! Ce lien expirera dans 3 heures.</p>

<p>Bien cordialement,</p>
<p>Toute l'équipe de Amiam<p>