{% extends 'base.html.twig' %}

{% block title %}Modification profil - Amiam
{% endblock %}

{% block body %}
<section class="userModifier">
	<h1>Modification de ton profil</h1>
	<div>
		<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
	</div>

	{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

		<div>
		<a class="btn btnSupprimer" href="{{ path('app_user_delete', {'id': app.user.id})}}">Supprimer</a>
	</div>

</section>
{% endblock %}
