{% extends 'base.html.twig' %}

{% block title %}Modification profil - Flavor Link
{% endblock %}

{% block body %}
<section class="userModifier">
	<h1>Modification de ton profil</h1>
	<div>
		<a class="btn btnRetour" href="javascript:history.go(-1)">Retour</a>
	</div>

	{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

</section>
{% endblock %}
